/*
* Base structure
*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*
* Global add-ons
*/
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.sub_icon {
  vertical-align: baseline;
  right: 10px;
  font-size: 18px;
}
/*
 * Global add-ons
 */

.form-signin {
  max-width: 500px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
  .checkbox {
      margin-bottom: 30px;
    }
}

.checkbox {
  margin-left: 20px;
}
/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
    border: 0;
}
/*
* Sidebar
*/
/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #696561;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #857463; /*#946E49*/
}
/*
* Main content
*/
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
/*
* Placeholder dashboard ideas
*/
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.toremove {
    color: red;
}

#btn-list{
    float: left;
}
#search{
    float:right;
    margin-right: 5px;
}
#results {
    clear: both;
}
.field {
    height: 32px;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.loading-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.56);
    z-index: 99999;
    display:none;
}
.loading-div img {
    margin-top: 20%;
    margin-left: 50%;
}

/* Pagination style */
.pagination1 {
    margin: 0;
    padding: 0;
    float: right;
}
.pagination1 li{
  display: inline;
  padding: 6px 10px 6px 10px;
  border: 1px solid #ddd;
  margin-right: -1px;
  font: 15px/20px Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  box-shadow: inset 1px 1px 5px #F4F4F4;
}
.pagination1 li a{
    text-decoration:none;
    color: rgb(89, 141, 235);
}
.pagination1 li.first {
    border-radius: 5px 0px 0px 5px;
}
.pagination1 li.last {
    border-radius: 0px 5px 5px 0px;
}
.pagination1 li:hover{
  background: #CFF;
}
.pagination1 li.active{
  background: #F0F0F0;
  color: #333;
}

@media print {
    .page-header {
      display: none;
    }
}

#printArea{
    font-family: serif;
    font-size: 12px;
}
#printArea ul li {
    list-style: none;
}
@media print {
    .page-header,
    .printBtn {
        display: none;
    }
}
